<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="" />
    <title>Venom Solutions - Streaming Infrastructure Licensing Portal</title>
    <script type="module" crossorigin src="/templates/twenty-one/landing/assets/index-o05Q_hhF.js"></script>
    <link rel="stylesheet" crossorigin href="/templates/twenty-one/landing/assets/index-CTn2OLs7.css">
  </head>
  <body class="landing theme-dark">
    <div id="app"></div>
  </body>
</html>
